<div class="font-din-20 header">
  <div class="row row-centered">
    <div class="col-xs-4 col-md-5">
       <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
       Soluções em Análise de Satisfação de Clientes
    </div>
    <div class="col-xs-2 col-md-2 col-md-offset-2">
      <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
      (47) 9226-4871
    </div>
    <div class="col-xs-2 col-md-3">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
      contato@feedmeapp.com.br
    </div>
  </div>
</div>