<div class="info white">
	<div class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-2">
			<img src="static/images/card.png" class="img-responsive img-center" alt="Responsive image" />
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="row">
				<div class="col-xs-12 col-md-12 text-center">
					<span class="font-nim-48">Link de resposta</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12 top-buffer">
					<span class="font-din-18"> Você pode também optar por disponibilizar a sua pesquisa de satisfação diretamente em um link de internet. </span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12 top-buffer">
					<span class="font-din-18">Sugerimos que você informe seu cliente do link e código utilizando cartões que o convidem a deixar um comentário sobre a experiência de consumo e chamem atenção para os benefícios diretos que o cliente pode ter participando.</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12">
				</div>
			</div>
		</div>
	</div>
</div>