<div class="info gray">
	<div class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-2">
			<div class="row">
				<div class="col-xs-12 col-md-12 text-center">
					<span class="font-nim-48">Hotspot Wifi</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12 top-buffer">
					<span class="font-din-18">Nosso hotspot wifi configura a internet de seu estabelecimento para que você possa cadastrar o e-mail dos seus clientes quando eles acessam sua internet. Com isso, podemos enviá-los um e-mail momentos após deixarem o estabelecimento, perguntando sobre a qualidade da experiência que tiveram ali.</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12 top-buffer">
					<span class="font-din-18">Esse e-mail é inteligente, já que o consumidor pode interagir diretamente com ele para expressar suas opiniões.</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12">
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<img src="static/images/email2.png" class="img-responsive img-center" alt="Responsive image" />
		</div>
	</div>
</div>