<div class="white" style="padding: 25px 0px 0px 0px;">
	<div class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-2">
			<img src="static/images/tablet2.png" class="img-responsive img-center" alt="Responsive image" />
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="row">
				<div class="col-xs-12 col-md-12 text-center">
					<span class="font-nim-48">Quiosque feedME</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12 top-buffer">
					<span class="font-din-18">Com Quioque feedME você pode coletar a opinião do seu cliente assim que ele se encontra no caixa de sua empresa efetuando o pagamento.</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12 top-buffer">
					<span class="font-din-18">A metodologia de pesquisa NPS permite extrair informações relevantes com poucas perguntas, o que, na prática, gera pesquisas de menos de 1 minuto. Basta o cliente clicar algumas vezes na tela do quiosque e sua opinião será ouvida.</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12">
				</div>
			</div>
		</div>
	</div>
</div>