<navbar id="navBar"></navbar>

<get-feedme></get-feedme>

<info-1></info-1>

<info-2></info-2>

<info-3></info-3>

<info-4></info-4>

<info-5></info-5>

<planos></planos>

<signup></signup>

<footer-site></footer-site>