      <header-site></header-site>
		
      <navbar></navbar>

      <toten></toten>

      <hotspot></hotspot>

      <feedback></feedback>

      <signup></signup>

      <footer-site></footer-site>