/* Fonts */
@font-face {
  font-family: "din-next-w01-light";
  src: url("fonts/DIN-Next-W01-Light.woff") format("woff");
}
@font-face {
  font-family: "nimbus-sans-tw01con";
  src: url("fonts/Nimbus-Sans-TW01Con.woff") format("woff");
}
@font-face {
  font-family: "anton";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Anton.woff") format("woff");
}
@font-face {
  font-family: "jura";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Jura.woff") format("woff");
}

/*  Fixed site width, temp until responsive  */
.container{
  max-width: none !important;
  width: 1366px;
}

.header {
	background-color: #40474F;
	color: #939FAF;
	padding: 7px;
	min-height: 50px;
}

.get-feedme {
	background-image:url('../images/bg.jpg');
	background-repeat:no-repeat;
	background-position: center top;
}

/* Feedme Custom Btn */

.btn-feedme {
	color: white;
	background-color: #F3AE39;
	border-bottom: 4px solid #B6852D;
	border-radius: 3px;
	padding: 10px;
}
.btn-feedme:hover {
	background-color: #40474F;
	color: white;
	transition: background-color 0.4s ease 0s;
}
.btn-info {
	background-color: transparent;
	border: 1px solid transparent;
	color: inherit;
	width: 100%;
	white-space: normal;
}
.btn-info:hover {
	background-color: #D9ECF6;
	border: 1px solid #31B0D5;
	color: inherit;
	transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

.btn-signup {
	color: white;
	background-color: #2C82C9;
	border: 0px solid;
	border-bottom: 4px solid #034B70;
	border-radius: 3px;
	padding: 13px 80px;
}
.btn-signup:hover{
	background-color: #27669C;
	transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

.btn-plan {
	color: black;
	background-color: white;
	padding: 25px;
	width: 100%;
	height: 100%;
	border-radius: 0px;
}
.btn-plan:hover {
	background-color: #0088CB;
	color: white;
	transition: background-color 0.4s ease 0s, color 0.4s ease 0s;
}

.btn-menu {
	padding: 10px;
	display: inline-block;
	text-decoration: none;
	color: black;
	font: 20px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ;
}

/* Navbar */

.navbar-brand {
	padding: 9px;
}

#navBar {
	font-family: din-next-w01-light;
}

.menuTop, .menuFixed {
	font-family: din-next-w01-light;
	background-color: white;
	height: auto;
	font-size: 18px;
	transition: all 0.4s ease;
}

.menuFixed .container{
	transition: all 0.4s ease;
}

#navBar .menuTop {
	background-color: transparent !important;
	border: 1px solid transparent;
	transition: font-size 0.4s ease;
}

#navBar .menuTop .container{
	height: 100px;
	width: 1110px;
	transition: width 0.4s ease;
}

#navBar .menuTop .navbar-brand {
	width: 150%;
	transition: width 0.4s ease;
}

#navBar .menuTop .navbar-nav {
	opacity: 0;
	transition: opacity 0.4s ease;
}

#navBar .menuFixed {
	background-color: white;
	height: auto;
	font-size: 18px;
	transition: all 0.4s ease;
}

#navBar .menuFixed .navbar-brand {
	width: 50%;
	transition: all 0.4s ease;
}

/* Sending Anim */

.sending {
	opacity: 0.2;
	transition: all 1s ease;
}
.sendingGif {
	position: absolute;
	z-index: 1024;
	top: 280px;
	left: 200px;
}
.sendingDone {
	position: absolute;
	z-index: 1024;
	top: 250px;
	left: 170px;
}

/*  Icon Fix */
.icon {
	width: 35px;
}

/* Utilities */
.no-padding { padding: 0px !important; }
.img-center { margin-right: auto; margin-left: auto; }
.row-centered { text-align:center; }
.col-centered { display:inline-block; float:none; margin-right:-4px; vertical-align: middle; }
.vertical-align { display: flex; align-items: center; }
.gray { background-color: #ECECEC; }
.soft-gray { background-color: #F6F6F6; }
.blue { background-color: #2C82C9; }
.dark-blue { background-color: #286192; }
.dark-gray { background-color: #40474F; }
.darker-gray { background-color: #31363D; }
.dark-orange { background-color: #B88B2F; }
.orange { background-color: #F3AE39; }
.white { background-color: #FFF; }
/*.borderless { border-radius: 0px; border: 1px solid transparent; box-shadow: none;}*/
.shadow { box-shadow: 0px 2px 11px 0px rgba(105, 105, 105, 0.7);}
.bold {font-weight: bold;}
.complet { width: 100% !important; }
.new-line {display: block;}
.btn-thin {padding: 0px 40px ;}


 /*Media Query Mobile */
 @media (min-width: 300px) {
 	/*.get-feedme { background-size: 100%; }*/
 }
 
/* Media Query Desktop*/
@media (min-width: 100px) {

	/* Elements */
	.get-feedme { background-size: 100%; min-height: 500px ; }
	.info {	padding: 50px; color: #41474F;}
	.form-contact { width: 49%; display: inline-block; }
	.navbar-brand {width: 50%;}
	.get-form { padding: 15px; }
	.form-header { color: white; border-radius: 3px; }
	.col-md-offset-feedme {margin-left: 8.6%;}

	/* Img */
	.tablet { overflow: hidden; position: relative; top: -500px; left: 50%; width: 52.6%; }
	.tablet-img {left: 0px; margin-top: 0px; position: relative; transform: rotate(342deg) translateZ(0px);}

	/* Font Customization */
	.font-din-18 { font: 18px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ; }
	.font-din-15 { font: 15px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ; }
	.font-din-17 { font: 17px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ; }
	.font-din-20 { font: 20px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ; }
	.font-din-25 { font: 25px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ; }
	.font-din-33 { font: 33px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ; }
	.font-din-36 { font: 36px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif; }
	.font-din-45 { font: 45px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif; }
	.font-din-48 { font: 48px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif; }
	.font-nim-30 { font: 30px/1.4em nimbus-sans-tw01con,sans-serif; }
	.font-nim-38 { font: 38px/1.4em nimbus-sans-tw01con,sans-serif; }
	.font-nim-48 { font: 48px/1.4em nimbus-sans-tw01con,sans-serif; }
	.font-ant-36 { font: 36px/1.4em anton,sans-serif; }
	.font-ant-25 { font: 25px/1.4em anton,sans-serif; }
	.font-jur-25 { font: 25px/1.4em jura,sans-serif;}
	.font-jur-30 { font: 30px/1.4em jura,sans-serif;}

	.top-buffer { margin-top: 10px; }
	.top-buffer-2 { margin-top: 15px; }
	.top-buffer-3 { margin-top: 20px; }

}
@media (min-width: 1800px) {
	/* Img */
	/*.col-md-offset-feedme {margin-left: 25%;}

	#navBar .menuTop .container{
		height: 100px;
		width: 70%;
		transition: all 0.4s ease;
	}*/
}