<div class="info dark-gray" style="color: white;">
	<div class="row vertical-align">
		<div class="col-xs-12 col-md-4">
			<img src="static/images/logo_white.png" class="img-responsive" alt="Responsive image" />
		</div>
		<div class="col-xs-12 col-md-8">
			<span class="font-jur-25 ">Somos uma empresa de tecnologia voltada para soluções em gestão de relacionamento com o cliente.<br> Com a plataforma feedME seu negócio se comunica melhor, aumentando o grau de satisfação dos clientes e gerando novas vendas.</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<div class="row">
				<div class="col-xs-12 col-md-2 col-centered">
					<img src="static/images/phone.svg" class="icon" alt="Responsive image" />
				</div>
				<div class="col-xs-12 col-md-8 col-centered">
					<span class="font-jur-30 ">(47) 9226-4871</span>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="row">
				<div class="col-xs-12 col-md-2 col-centered">
					<img src="static/images/email.svg" class="icon" alt="Responsive image" />
				</div>
				<div class="col-xs-12 col-md-8 col-centered">
					<span class="font-jur-30 ">contato@feedmeapp.com.br</span>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2 col-centered">
					<a href="#contact" class="btn font-jur-30 no-padding">Fale conosco</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12">
		</div>
		<div class="col-xs-12 col-md-12">
		</div>
	</div>
</div>
<div class="info darker-gray">
</div>