<div class="dark-orange text-center" style="color: white;">
	<div class="row">
		<div class="col-xs-12 col-md-2 col-centered">
			<img src="static/images/png/logo.png" class="img-responsive" alt="Responsive image" />
		</div>
		<div class="col-xs-12 col-md-9 col-centered">
			<span class="font-din-20 ">O software que te ajuda a encantar clientes, conhecer melhor seu serviço e por um preço acessível para qualquer micro e pequenas empresas.</span>
		</div>
	</div>
</div>
<div class="info gray">
	<div class="row">
		<div class="col-xs-12 col-md-5 col-md-offset-2">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<img src="static/images/note.png" class="img-responsive img-center" alt="Responsive image" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-10">
					<ul class="font-din-25 bold">
						<li style="list-style: inside;">Análises online e em tempo real</li>
					</ul>
					<span class="font-din-18">para que você possa acompanhar a satisfação de seus clientes e utilizar esses dados na tomada de decisões estratégicas ao seu negócio.</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<ul class="font-din-25 bold">
						<li style="list-style: inside;">Comunicação direta </li>
					</ul>
					<span class="font-din-18">responda as opiniões de seus clientes recebidas e tenha chance de satisfazer um cliente por alguma necessidade dele.</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<ul class="font-din-25 bold">
						<li style="list-style: inside;">Sorteie prêmio ou descontos </li>
					</ul>
					<span class="font-din-18">a medida que seus clientes respondem suas pesquisas, criando um sistema de benefícios pro seu estabelecimento.</span>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-5">
			<form name="getApp" ng-submit="processForm()"  ng-controller="getAppController as getAppCtrl">
			<div class="row">
				<div ng-show="sending" class="sendingGif"><img src="static/images/ajax-loader.gif" class="img-center" alt="Loading" /></div>
				<div ng-show="done" style="animation-delay: 1s;" class="sendingDone animated fadeOut"><img src="static/images/ok.png" class="img-center" alt="Ok" /></div>
				<div class="col-xs-12 col-md-10" ng-class="{'sending': sending}">
					<div class="form-header blue text-center">
							<span class="font-ant-25">RECEBA A FERRAMENTA AQUI!
</span><span class="font-din-18 new-line">Vamos entrar em contato para que você tenha melhores resultado.</span>
					</div>
					<div class="get-form soft-gray font-ant-25">
					  <div class="form-group">
					    <label for="name">Nome</label>
					    <span style="color:red" ng-show="getApp.name.$invalid">
							<span ng-show="getApp.name.$invalid">*</span>
						</span>
					    <input type="text" class="form-control borderless" id="name" ng-model="formData.name" name="name" required>
					  </div>
					  <div class="form-group">
					    <label for="email">Email</label>
					    <span style="color:red" ng-show="getApp.email.$invalid">
							<span ng-show="getApp.email.$invalid">*</span>
						</span>
					    <input type="email" class="form-control borderless" id="email" ng-model="formData.email" name="email" required>
					  </div>
					  <div class="form-group">
					    <label for="company">Empresa</label>
					    <input type="text" ng-model="formData.store" class="form-control borderless" id="company">
					  </div>
					  <div class="form-group">
					    <label for="section">Segmento</label>
					    <input type="text" ng-model="formData.section" class="form-control borderless" id="section">
					  </div>
					  <div class="form-group">
					    <label for="location">Localidade</label>
					    <span style="color:red" ng-show="getApp.location.$invalid">
							<span ng-show="getApp.location.$invalid">*</span>
						</span>
					    <input type="text" class="form-control borderless" id="location" ng-model="formData.location" name="location" required>
					  </div>
					 </form>
					</div>
					<button type="submit" class="btn btn-feedme complet font-din-18" ng-disabled="getApp.name.$invalid || getApp.email.$invalid">DEIXE COM A GENTE</button>
				</div>
			</div>
		</div>
	</div>
</div>