<div class="vertical-align get-feedme">
  <div class="row">
    <div class="col-xs-6 col-md-6 col-md-offset-feedme">
      <div class="row">
        <div class="col-xs-6 col-md-10" in-view="lineInView($event, 'fadeInUp', '0s')">
          <!--<img src="static/images/logo.png" class="img-responsive" alt="Responsive image" />-->
        </div>
      </div>
      <div class="row top-buffer">
        <div class="col-xs-12 col-md-10" in-view="lineInView($event, 'fadeInUp', '0.5s')">
          <span class="font-din-36">
            <span class="new-line" style="letter-spacing:-0.05em;">
              TECNOLOGIA ALIADA À 
              <span style="font-weight: bold;">
                SATISFAÇÃO DE CLIENTES
              </span>
            </span>
          </span>
        </div>
      </div>
      <div class="row top-buffer">
        <div class="col-xs-12 col-md-10" in-view="lineInView($event, 'fadeInUp', '1s')">
          <span class="font-din-20 ">
            Software que transforma a comunicação com seus clientes, melhora seus serviços e aumenta suas vendas.
          </span>
        </div>
      </div>
      <div class="row top-buffer-2">
        <div class="col-xs-6 col-md-10" in-view="lineInView($event, 'fadeInUp', '1.5s')">
          <a href="#" scroll-to="plans" class="btn btn-feedme font-din-18">QUERO A FERRAMENTA</a>
        </div>
      </div>
    </div>
  </div>
</div>