<div class="info gray" style="padding: 50px 0px 0px 0px;">
  <div class="row text-center">
	  <div class="col-xs-12 col-md-12">
	  	<span class="font-nim-48">Simplicidade pra você</span>
	  </div>
  </div>
  <div class="row top-buffer-2">
  	<div class="col-xs-12 col-md-4" style="text-align: right; margin-left: 17.5%;">
  		<span class="font-din-18">Análises online e em tempo real para que você possa acompanhar a satisfação de seus clientes e utilizar esses dados na tomada de decisões estratégicas ao seu negócio.</span>
	</div>
	<div class="col-xs-12 col-md-4">
		<span class="font-din-18">A ferramenta proporciona resultados imediatos para pequenas e médias empresas, pela simplicidade de interpretar seus dados e facilidade de se conectar com seu cliente.</span>
	</div>
  </div>
  <div class="row text-center">
  	<div class="col-xs-12 col-md-12" in-view="lineInView($event, 'fadeInLeft', '0s')">
  		<img src="static/images/app.png" style="margin-top: -100px;" class="img-center img-responsive" alt="Responsive image">
	</div>
  </div>
</div>