<div class="vertical-align info gray">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="row text-center">
        <div class="col-xs-12 col-md-12">
          <span class="font-nim-38">Gerencie guiado por seus clientes</span>
        </div>
      </div>
      <div class="row text-center top-buffer">
        <div class="col-xs-12 col-md-12">
          <span class="font-din-20 ">Colete informações estratégicas para seu negócio diretamente de seus clientes.</span>
        </div>
      </div>
      <div class="row text-center" style="margin-top: 40px;">
        <div class="col-xs-12 col-md-3 col-centered" style="margin-right: 40px;">
          <div class="row">
            <div class="col-xs-12 col-md-12" in-view="lineInView($event, 'fadeInRight', '0s')">
              <img src="static/images/png/chart.png" class="img-responsive img-center" alt="Responsive image" />
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <span class="font-nim-38">Ferramenta fácil</span>
            </div>
          </div>
          <div class="row top-buffer-2">
            <div class="col-xs-12 col-md-12">
              <span class="font-din-20">Informações e dados relevantes pare seu negócio, dispostos em análises fáceis de se compreender e interpretar.<br><br></span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-3 col-centered" style="margin-right: 40px;">
          <div class="row">
            <div class="col-xs-12 col-md-12" in-view="lineInView($event, 'fadeInRight', '0s')">
              <img src="static/images/png/lock.png" class="img-responsive img-center" style="" alt="Responsive image">
            </div>
            <div class="col-xs-12 col-md-12">
              <span class="font-nim-38">Informações seguras</span>
            </div>
          </div>
          <div class="row top-buffer-2">
            <div class="col-xs-12 col-md-12">
              <span class="font-din-20 ">As respostas das pesquisas e os comentários dos seus clientes são disponibilizados em um canal fechado entre cliente e estabelecimento.</span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-3 col-centered">
          <div class="row">
            <div class="col-xs-12 col-md-12" in-view="lineInView($event, 'fadeInRight', '0s')">
              <img src="static/images/png/tag.png" class="img-responsive img-center" style="" alt="Responsive image">
            </div>
            <div class="col-xs-12 col-md-12">
              <span class="font-nim-38">Sistema de bônus</span>
            </div>
          </div>
          <div class="row top-buffer-2">
            <div class="col-xs-12 col-md-12">
              <span class="font-din-20 ">Você pode premiar seus clientes com descontos ou cupons, estimulando-os a passarem suas opiniões e retornarem para novas compras.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>