<div class="blue" style="padding: 25px;">
	<div class="row" style="color: white; margin-top: -10px;">
		<div class="col-xs-12 col-md-12" style="">
			<div class="row">
				<div class="col-xs-12 col-md-12 text-center">
					<span class="font-nim-48">Principais segmentos de atuação</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
					<span class="font-din-18">Cada estabelecimento tem sua forma de encantar seus clientes, a<span class="new-line">feedME busca ajudá-lo a desenvolver ao máximo essa forma.</span></span>
				</div>
			</div>
			<div class="row" ng-controller="buttonController as buttonCtrl">
				<div class="col-xs-12 col-md-3"></div>
				<div ng-repeat="button in buttonCtrl.info4">
					<div class="col-xs-12 col-md-2" in-view="lineInView($event, 'fadeInRight', '0s')">
						<div class="row">
							<div class="col-xs-12 col-md-12">
								<img ng-src="{{button.image}}" style="{{button.style}}" class="img-responsive img-center" alt="Responsive image" />
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-md-12 text-center">
								<span class="font-din-18">{{button.text}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>