<div class="info soft-gray" style="max-height: 600px ;">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-1">
      <div class="row">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <span class="font-nim-48"> Para você coletar + opiniões </span>
          </div>
        </div>
        <div class="row top-buffer">
          <div class="col-xs-10 col-md-12">
            <span class="font-din-20 ">É fundamental para competitividade do seu negócio ouvir dos seus clientes sobre a qualidade de seu atendimento, produtos e serviços. O feedback dos clientes possibilita ir direto ao ponto de maior importância para as
         vendas.</span>
          </div>
        </div>
        <div class="row top-buffer">
          <div class="col-xs-10 col-md-12">
            <span class="font-din-20 "> Por
         isso você pode contar com Quiosques, Hotspots Wifi e link de pesquisa diretos para aproveitar ao máximo a comunicação com consumidor. </span>
          </div>
        </div>
        <div class="row text-center top-buffer center-block" style="width: 75%;" in-view="lineInView($event, 'fadeInRight', '0s')">
            <div class="col-xs-12 col-md-3">
              <img ng-src="static/images/touch.png" class="img-responsive img-center" style="" alt="Responsive image">
              <span class="font-din-17 top-buffer"> Quiosque Tablet </span>
            </div>
            <div class="col-xs-12 col-md-3">
              <img ng-src="static/images/wifi.png" class="img-responsive img-center" style="" alt="Responsive image">
              <span class="font-din-17"> Hotspot<br> WiFi </span>
            </div>
            <div class="col-xs-12 col-md-3">
              <img ng-src="static/images/link.png" class="img-responsive img-center" style="" alt="Responsive image">
              <span class="font-din-17"> Links Únicos </span>
            </div>
        </div>
        <div class="row row-centered top-buffer">
          <div class="col-xs-12 col-md-10">
            <a href="#ways" class="btn btn-primary font-din-18 complet">Ver Mais</a>
          </div>
        </div>
      </div>
    </div>
    <div class="tablet">
      <img src="static/images/png/tablet.png" class=" tablet-img img-center" alt="Responsive image">
    </div>
  </div>
</div>