<div class="dark-gray" style="padding: 50px;">
	<div class="row">
		<div class="col-xs-12 col-md-3 col-centered">
			<img src="static/images/nps.png" class="img-responsive" alt="Responsive image" />
		</div>
		<div class="col-xs-12 col-md-9 col-centered" style="color: white; ">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<span class="font-din-36">Nossa pesquisa é NPS</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<span class="font-din-17 ">Empresas preocupadas em ser referência em qualidade de produtos e serviços utilizam o NET Promoter System. Com duas perguntas, o NPS busca descobrir se seus clientes recomendariam seu negócio a outras pessoas e porquê fariam isso.<br>Junte-se a empresas como Apple, Google, Mercado Livre e Azul na adoção do NPS como ferramenta para atingir a satisfação e a lealdade dos consumidores.</span>
				</div>
			</div>
		</div>
	</div>
</div>