<form name="newsletterForm" class="form-inline" ng-submit="processNewsletter()"  ng-controller="newsletterController as newsCtrl">
<div class="orange" style="color: white; padding: 25px 25px 60px 25px;">
	<div class="row row-centered">
		<div class="col-xs-12 col-md-12">
			<span class="font-din-33" style="letter-spacing: -0.05em;">EXPANDA SEU NEGÓCIO POR MEIO DE SEUS CLIENTES</span>
		</div>
	</div>
	<div class="row row-centered">
		<div class="col-xs-12 col-md-12">
			<span class="font-ant-36">ACOMPANHE NOSSO CONTEÚDO GRATUITO!</span>
		</div>
	</div>
	<div class="row row-centered top-buffer-2">
		<div class="col-xs-12 col-md-12">
			<span class="font-din-20 ">Deixe seu email para receber notícias</span>
		</div>
	</div>
	<div class="row row-centered top-buffer-2">
		 	<div class="form-group" style="width: 250px;">
		    	<input type="text" ng-model="newsletterData.name" class="form-control borderless complet" placeholder="Nome completo">
		  	</div>
		  	<div class="form-group" style="width: 250px; margin-left: 20px;">
		    	<input type="email" ng-model="newsletterData.email" class="form-control borderless complet" placeholder="E-mail">
		  	</div>
	</div>
</div>
<div class="row row-centered" style="height: 0;">
	<div class="col-xs-12 col-md-12">
		<button type="submit" ng-class="{'animated bounce': done}" style="margin-top: -30px; margin-bottom: -10px" class="btn btn-primary btn-lg btn-signup font-din-15"><span ng-show="done">CADASTRADO</span><span ng-hide="done">CADASTRAR</span></button>
	</div>
</div>
</form>