<div class="info">
	<div class="row">
		<div class="col-xs-12 col-md-5 col-md-offset-2">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<div class="row">
						<div class="col-xs-12 col-md-2 col-centered">
							<img src="static/images/phone.svg" class="icon" alt="Responsive image" />
						</div>
						<div class="col-xs-12 col-md-8 col-centered">
							<span class="font-jur-30">(47) 9226-4871</span>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-12">
					<span class="font-din-20 ">Segunda à Sexta - 08h às 17h</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<div class="row">
						<div class="col-xs-12 col-md-2 col-centered">
							<img src="static/images/email.svg" class="icon" alt="Responsive image" />
						</div>
						<div class="col-xs-12 col-md-8 col-centered">
							<span class="font-jur-30 ">contato@feedmeapp.com.br</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<span class="font-jur-30">Rua Local feedme, 222 - Joinville</span>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-5">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<span class="font-din-36">Entre em contato</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-10">
					<form name="contactForm" class="form" ng-submit="processContact()"  ng-controller="contactController as contactCtrl">
					 	<div class="form-group">
					    	<input type="text" ng-model="contactData.name" class="form-control form-contact borderless" placeholder="Nome *" required>
					    	<input type="email" ng-model="contactData.email" class="form-control form-contact borderless" placeholder="E-mail *" required>
					  	</div>
					  	<div class="form-group">
					    	<input type="text" ng-model="contactData.store"  class="form-control form-contact borderless" placeholder="Empresa">
					    	<input type="phone" ng-model="contactData.phone" class="form-control form-contact borderless" placeholder="Telefone">
					  	</div>
					  	<div class="form-group">
					    	<textarea ng-model="contactData.msg" class="form-control borderless" rows="3" required>Mensagem *</textarea>
					  	</div>
					  	<div class="form-group">
					    	<button type="submit" ng-class="{'animated bounce': done}" class="btn btn-feedme complet font-din-18"><span ng-show="done">Enviado</span><span ng-hide="done">Enviar</span></button>
					  	</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>