<div class="row gray text-center">
	<div class="col-xs-12 col-md-12">
		<iframe
		 	width="1000"
		 	height="450"
		 	frameborder="0" style="border:0"
		 	src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDFMN-NA9oefqsQtHpgMl9VFxDibvKXsYA&q=Joinville+SC,Joinville+Brazil" allowfullscreen>
		</iframe>
	</div>
</div>