<nav id="menuSlider" class="navbar navbar-default navbar-fixed-top menuTop">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="static/images/logo.png" class="img-responsive" alt="Responsive image" />
      </a>
    </div>
    <div class="collapse navbar-collapse">
    	<ul class="nav navbar-nav navbar-right">
    		<li><a href="#/">Home</a></li>
    		<li><a href="#ways">Formas de Coleta</a></li>
    		<li><a href="#contact">Contato</a></li>
    		<form class="navbar-form navbar-left" role="get">
    			<a href="#plans" class="btn btn-primary">QUERO A FERRAMENTA</a>
    		</form>
    	</ul>
  </div>
</div>
</nav>