<div id="plans" class="info white">
	<div class="row text-center">
		<div class="col-xs-12 col-md-12">
			<span class="font-nim-48">Planos para você</span>
		</div>
	</div>
	<div class="row row-centered">
		<div class="col-xs-12 col-md-4 text-center col-centered ">
			<span class="font-din-18">Sem risco! Satisfação em 30 dias ou seu dinheiro de volta nas mensalidades do software.</span>
		</div>
	</div>
	<div class="cd-pricing-container cd-has-margins">

		<div class="cd-pricing-switcher">
			<p class="fieldset">
				<input type="radio" name="duration-1" value="monthly" id="monthly-1" checked>
				<label for="monthly-1">Semestral</label>
				<input type="radio" name="duration-1" value="yearly" id="yearly-1">
				<label for="yearly-1">Anual</label>
				<span class="cd-switch"></span>
			</p>
		</div>

		<ul class="cd-pricing-list cd-bounce-invert">
			<li>
				<ul class="cd-pricing-wrapper">
					<li data-type="monthly" class="is-visible">
						<header class="cd-pricing-header">
							<h2>Demo</h2>

							<div class="cd-price top-buffer">
								<span class="font-din-45">Grátis</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li>Conheça nossa ferramenta pelo DEMO:</li>
								<li>Visualize Pesquisas</li>
								<li>Respostas a Clientes</li>
								<li>Gerencie Sorteios</li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="#get/demo/mensal">Receber</a>
						</footer> <!-- .cd-pricing-footer -->
					</li>
					<li data-type="yearly" class="is-hidden">
					<!-- pricing table content here -->
					</li>
				</ul>
			</li>
			<li class="cd-popular">
				<ul class="cd-pricing-wrapper">
					<li data-type="monthly" class="is-visible">
						<header class="cd-pricing-header">
							<h2>Popular</h2>

							<div class="cd-price">
								<span class="cd-currency">R$</span>
								<span class="cd-value">69,90</span>
								<span class="cd-duration">Mês</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li> Análise NPS </li>
								<li> Feedback Personalizado </li>
								<li> Sorteio de Prêmios </li>
								<li> Respostas ao Cliente </li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="#get/popular/mensal">Adquira Aqui</a>
						</footer> <!-- .cd-pricing-footer -->
					</li>
					<li data-type="yearly" class="is-hidden">
						<header class="cd-pricing-header">
							<h2>Popular</h2>

							<div class="cd-price">
								<span class="cd-currency">R$</span>
								<span class="cd-value">49,90</span>
								<span class="cd-duration">Mês</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li> Análise NPS </li>
								<li> Feedback Personalizado </li>
								<li> Sorteio de Prêmios </li>
								<li> Respostas ao Cliente </li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="#get/popular/anual">Adquira Aqui</a>
						</footer> <!-- .cd-pricing-footer -->
					</li>
				</ul>
			</li>
			<li>
				<ul class="cd-pricing-wrapper">
					<li data-type="monthly" class="is-visible">
						<header class="cd-pricing-header">
							<h2>Premier</h2>

							<div class="cd-price top-buffer">
								<span class="font-din-45">Em breve</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li> Integração Facebook </li>
								<li> Lista de Emails </li>
								<li> Marketing de Promoções </li>
								<li> Análise Funcional </li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="#get/premier/mensal">Adquira Aqui</a>
						</footer>  <!-- .cd-pricing-footer -->
					</li>
					<li data-type="yearly" class="is-hidden">
						<header class="cd-pricing-header">
							<h2>Premier</h2>

							<div class="cd-price top-buffer">
								<span class="font-din-45">Em breve</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li> Integração Facebook </li>
								<li> Lista de Emails </li>
								<li> Marketing de Promoções </li>
								<li> Análise Funcional </li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="#get/premier/anual">Adquira Aqui</a>
						</footer>  <!-- .cd-pricing-footer -->
					</li>
				</ul>
			</li>
		</ul> <!-- .cd-pricing-list -->
	</div> <!-- .cd-pricing-container -->	
</div>
<planos-Js></planos-Js>